body {
/* background-color: '#343434'; */
/* background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; */
}

* {
    margin: 0;
    padding: 0;
}


/* http://localhost:5000 */